---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import StandardPage from '../../layouts/StandardPage.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<StandardPage title={`Blog Section`} description={`This is where all my blogpost will show`}>
	<section class="container pl-20">
		<h1 class="text-4xl mb-6">Writings</h1>
		<ul>
			{
				posts.map((post) => (
					<li class="mb-5">
						<div class="text-xs text-gray-600"><FormattedDate date={post.data.pubDate} /></div>
						<a href={`/blog/${post.slug}/`} class="text-2xl">{post.data.title}</a>
						<p class="text-black">{post.data.description}</p>
					</li>
				))
			}
		</ul>
	</section>
</StandardPage>
