---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import StandardPage from '../../layouts/StandardPage.astro';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<StandardPage title={`Blog Section`} description={`This is where all my blogpost will show`}>
	<section>
		<ul>
			{
				posts.map((post) => (
					<li>
						<FormattedDate date={post.data.pubDate} />
						<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
					</li>
				))
			}
		</ul>
	</section>
</StandardPage>
