---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import StandardPage from '../layouts/StandardPage.astro';
---

<StandardPage title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<p>Home page</p>
</StandardPage>