---
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import StandardPage from '../layouts/StandardPage.astro';
---

<StandardPage title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<h1>Yoeri Van Wassenhove</h1>
	<p>Front end web developer</p>
	
</StandardPage>