---
import HeaderLink from './HeaderLink.astro';
---


	<aside class="flex-2 p-5">
			<ul class="flex flex-col">
				<li><HeaderLink href="/">Home</HeaderLink></li>
				<li><HeaderLink href="/blog">Blog</HeaderLink></li>
				<li><HeaderLink href="/about">About</HeaderLink></li>
				<li><HeaderLink href="https://github.com/withastro/astro" target="_blank">GitHub</HeaderLink></li>
				<li><HeaderLink href="https://www.linkedin.com/in/yoerivw/" target="_blank">Linkedin</HeaderLink></li>
			</ul>
	
	  </aside>
	


