---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';



const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<body class="text-left bg-slate-50 break-words leading-normal text-gray-600 overflow-hidden h-screen">
		<div class="flex h-full">
			<Header />
			<main class="overflow-y-auto w-full  pt-5">
			  <div class="wrapper_inner">
				<slot />
			   </div>
			 </main>
		   </div>
		
	</body>
</html>
